:root {
  --main-bg-color: hsl(195, 100%, 50%);
  --main-text-color: white;
}

body {
  background: var(--main-bg-color);
  font-family: Arial, sans-serif;
  color: var(--main-text-color);
}

::selection {
  background: var(--main-text-color);
  color: var(--main-bg-color);
}

a,
a:hover {
  color: var(--main-text-color);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}